<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Title</title>
</head>
<body>
<h2>Hello !!!!!</h2>
<h1 th:if="${attributeName} != null" th:text="${attributeName}"></h1>

    <h1>List</h1>
    <div style="border:1px;">
        <ul>
            <li th:each="list: ${list}" th:text="${list}"></li>
        </ul>
    </div>
<input type="button" name="btnTest" value="click" onclick="testAxios()">
<div id="ulist">


</div>
<script th:inline="javascript">
    //console.log("test");
    function testAxios() {
        axios.post("/api2/axiostest", {parameter:"ppp"})
        .then(function(res){
            const data = res.data;
            data && data[0] && data.forEach(i => {
                const newLi = document.createElement("li");
                newLi.style.color = "blue";
                newLi.innerHTML = i;
                document.getElementById("ulist").appendChild(newLi);
            });
        })
    }

    //testAxios();
</script>
</body>
</html>